OPG matrix

1 for >,0 for =,-1 for <

    +   -   *   /   >   <   >=  <=  ==  !=
+   1   1   -1  -1  1   1   1   1   1   1
-   1   1   -1  -1  1   1   1   1   1   1
*   1   1   1   1   1   1   1   1   1   1
/   1   1   1   1   1   1   1   1   1   1
>   -1  -1  -1  -1  1   1   1   1   1   1
<   -1  -1  -1  -1  1   1   1   1   1   1
>=  -1  -1  -1  -1  1   1   1   1   1   1
<=  -1  -1  -1  -1  1   1   1   1   1   1
==  -1  -1  -1  -1  1   1   1   1   1   1
!=  -1  -1  -1  -1  1   1   1   1   1   1